{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">if you have a project!</h5>
                                      <p class="card-text">i can help with that :) just reach me using.</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Email: aymoreno567@gmail.com</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link">Phone you can text me or call me:</a>
                                      <a href="#" class="card-link">+1 386-387-9450</a>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    